<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home-index.css">
<%- include('./partials/nav') %>

<main>
  <div class="container">
    <h1>Welcome to Potluck Planner!</h1>
    <div>
      <img id="banner" src="https://i.ibb.co/z2rh7SY/potluck-banner.png" alt="potluck-banner" border="0">
    </div>
    <p class="about">Potluck planner is an app created to help people easily plan potlucks and share information about a potluck. Potlucks are a great way to hold parties that are intended to be cost-friendly, and the best part is that they hold a creative element where everyone is able to contribute to the party in their own unique way. By just contributing one dish, we can all taste so many different dishes and learn so much about each other and our cultures.</p>
    <p class="about">Potlucks used to be fairly common and informal, however, since the boom of the restaurant industry and our ever-increasingly busy schedules, they've taken a backseat to the glamorous night out. Thanks to a global pandemic however, potlucks have been making a little yet powerful comeback where we were all stuck at home making sourdough bread, socializing less in public, and prioritizing getting to know each other over the bells and whistles of a fancy restaurant experience.</p>
    <p class="about">Organizing potlucks can be a bit of a hassle, so this app is designed to streamline the organizational process and allow all guests to see what's in store for the party! Enjoy making potlucks and let's all make the potluck comeback happen together!</p>
    <h3><%= user ? "" : "Login to Get Started:" %></h3>
    <% if (user?.profile.avatar) { %>
      <div>
        <img class="avatar"
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </div>
      <div class="welcome-message">
        <p>Hi there <%= user.profile.name %>! Let's get started by adding a potluck. Head over to <a href="/potlucks">All Potlucks</a> and let's get planning!</p>
      </div>
    <% } else { %>
      <div class="signin">
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      </div>
    <% } %>
  </div>
</main>


<%- include('./partials/footer') %>
