<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/edit.css">
<%- include('../partials/nav') %>

<section>
  <h2>Edit This Potluck</h2>
  <form action="/potlucks/<%= potluck._id %>?_method=PUT" method="POST">
    <label>
      Title:
      <input type="text" name="title" value="<%= potluck.title %>" autocomplete="off">
    </label>
    <label>
      Date:
      <input type="datetime-local" value="<%= potluck.date.toString() %>" name="date">
    </label>
    <label>
      Location:
      <input type="text" value="<%= potluck.address %>" name="address">
    </label>
    <div>
      <button class="show-button" type="submit">Update Potluck Details</button>
    </div>
  </form>
</section>

<%- include('../partials/footer') %>