<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/potluck-index.css">
<%- include('../partials/nav') %>

<section class="create-form">
  <h2>Create a New Potluck</h2>
  <form action="/potlucks" method="POST">
    <div>
      <label>
        Title:
        <input type="text" name="title" autocomplete="off">
      </label>
    </div>
    <div>
      <label>
        Date:
        <input type="datetime-local" name="date">
      </label>
    </div>
    <div>
      <label>
        Location:
        <input type="text" name="address">
      </label>
    </div>
    <button type="submit">Create</button>
  </form>
</section>

<section class="potluck-listing">
  <h1>All Your Potlucks</h1>
  <% if (potlucks.length !== 0) { %>
    <ul>
      <% potlucks.forEach(potluck => { %>
        <% if (potluck.host.equals(user?.profile._id)) { %> 
        <li> 
          <a href="/potlucks/<%= potluck._id %>"><%= potluck.title %>, <%= potluck.date %></a></li>
      <% }}) %>
    </ul>
  <% } else { %>
    <h4>Add a Potluck!</h4>
  <% } %> 
</section>

<%- include('../partials/footer') %>