<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= potluck.title %> Potluck</h1>
<section>
  <h2>Potluck Info</h2>
  <h3>Host: <%= potluck.host.name %> </h3>
  <h3>Date: <%= potluck.date %> </h3>
  <h3>Location: <%= potluck.address %> </h3>
</section>

<% if (potluck.host.equals(user?.profile._id)) { %>
<section>
  <h2>Guest List & Potluck Menu</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>is Bringing</th>
        <th>Dish Type</th>
      </tr>
    </thead>
    <tbody>
      <% potluck.dishes.forEach(dish => { %>
        <tr>
          <td><%= dish.guestName %> </td>
          <td><%= dish.dishName %> </td>
          <td><%= dish.category %> </td>
          <td>
            <form action="/potlucks/<%= potluck._id %>/<%= dish._id %>?_method=DELETE" method="POST"><button>&times;</button>
            </form>
          </td>
        </tr>
      <% }) %> 
    </tbody>
  </table>
</section>
<% } else { %>
  <section>
    <h2>Guest List & Potluck Menu</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>is Bringing</th>
          <th>Dish Type</th>
        </tr>
      </thead>
      <tbody>
        <% potluck.dishes.forEach(dish => { %>
          <tr>
            <td><%= dish.guestName %> </td>
            <td><%= dish.dishName %> </td>
            <td><%= dish.category %> </td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  </section>
<% } %> 

<section class="menu">
  <div class="menu-header">
    <h3>Current Menu for <%= potluck.title %> Potluck</h3>
  </div>
  <div class="menu-body">
    <h4>Appetizers</h4>
    <ul>
      <% potluck.dishes.forEach(dish => { %>
        <% if (dish.category === "Appetizer") { %>
          <li><%= dish.dishName %> </li>
        <% } %> 
      <% }) %> 
    </ul>
    <h4>Mains</h4>
    <ul>
      <% potluck.dishes.forEach(dish => { %>
        <% if (dish.category === "Main") { %>
          <li><%= dish.dishName %> </li>
        <% } %> 
      <% }) %> 
    </ul>
    <h4>Desserts</h4>
    <ul>
      <% potluck.dishes.forEach(dish => { %>
        <% if (dish.category === "Dessert") { %>
          <li><%= dish.dishName %> </li>
        <% } %> 
      <% }) %> 
    </ul>
    <h4>Thirsty?</h4>
    <ul>
      <% potluck.dishes.forEach(dish => { %>
        <% if (dish.category === "Drink") { %>
          <li><%= dish.dishName %> </li>
        <% } %> 
      <% }) %> 
    </ul>
  </div>
</section>

<% if (potluck.host.equals(user?.profile._id)) { %>
<section>
  <h2>More Joining the Fun</h2>
  <form action="/potlucks/<%= potluck._id %>/dishes" method="POST">
    <label for="guest-name">Guest: </label>
    <input type="text" name="guestName" id="guest-name" required>
    <label for="dish-name">Dish: </label>
    <input type="text" name="dishName" id="dish-name" required>
    <label for="category">Category: </label>
    <select name="category" id="dish-category" required>
      <option value="Appetizer">Appetizer</option>
      <option value="Main" selected>Main</option>
      <option value="Dessert">Dessert</option>
      <option value="Drink">Drink</option>
      <option value="Supplies">Supplies</option>
      <option value="Other">Other</option>
    </select>
    <button type="submit">Join the Fun!</button>
  </form>
</section>
<% } %> 


<% if (potluck.host.equals(user?.profile._id)) { %>
  <h2>Update Potluck Details</h2>
  <form action="/potlucks/<%= potluck._id %>/edit" method="GET">
    <button class="btn" type="submit">Update details</button>
  </form>
<% } %> 


<% if (potluck.host.equals(user?.profile._id)) { %>
  <section>
    <h2>Delete this Potluck</h2>
    <h3>Be sure you'd like to delete this potluck and all its information before deleting!</h3>
    <form action="/potlucks/<%= potluck._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete</button>
    </form>
  </section>
<% } %> 


<%- include('../partials/footer') %>